li {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  background-color: #ffffff90;
  border-radius: 2px;
  margin-bottom: 15px;
  padding: 5px 25px;
  animation-duration: 0.75s;
  animation-name: animate;
}

li:hover {
  background-color: #ffffff;
}

ul {
  margin-top: 30px;
  padding: 0px;
}

.delete-button {
  border: none;
  align-self: flex-end;
  background: none;
  border-radius: 100px;
}

.delete-button:hover {
  border: 1px solid black;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
